:root {
  --searchbar-border-color: #9d9d9d;
  --main-button-hover-color: rgb(28, 58, 195);
  --searchbar-icon-color: #4b4b4b;
  --header-height: 100px;
  --loader-color: rgb(28, 58, 195);
}

body {
  /* color: #4b4b4b; */
  font-family: "Open Sans", sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* General */
div.contentWrapper {
  width: 80%;
  margin: 0 auto;
}
.container {
  width: 80%;
  margin: 0 auto;
  /* padding: 20px 0; */
}
.hideBlock {
  opacity: 0;
  height: 0px !important;
  padding: 0 !important;
  overflow: hidden !important;
  max-height: 0px !important;
  margin: 0 !important;
}
/* Header */
header, footer {
  background-color: #333;
  padding: 10px 0;
  color: #fff;
}
header .container {
  /* padding: 20px 0; */
}
header {
  height: var(--header-height);
}
header h1 {
  margin: 0;
  margin-bottom: 18px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 16px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

nav ul li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}
/* Panel */
/*----Toggle slider--*/
#soundToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--searchbar-border-color);
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(28px);
}

.slider:after
{
 content:'OFF';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 right: 0%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'ON';
  transform: translate(50%,-50%);
  left: 0%;
  right: auto;
}
/*----End of slider---*/
/* Body */
.bodyContainer {
}
/* search bar */
div.inputContainer {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0px;
  margin-top: 10px;
}
.inputContainer form {
  padding-top: 0;
}
form input#instructions {
  border: 1px solid var(--searchbar-border-color);
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
}
form button.notes,
.inputContainer form label.custom-file-upload {
  border-top: 1px solid var(--searchbar-border-color) !important;
  border-bottom: 1px solid var(--searchbar-border-color) !important;
}
.inputContainer form button.searchIcon {
  border: 1px solid var(--searchbar-border-color) !important;
  border-left: none !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.inputContainer form .iconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputContainer form .iconBtn:hover {
  background-color: var(--main-button-hover-color)
}
.inputContainer form .iconBtn svg {
  width: 25px;
  height: 25px;
}
#recordButton svg path,
#fileButton svg path,
#fileButton svg line,
#notesButton svg path {
  stroke: var(--searchbar-icon-color);
}
#searchButton svg path,
#imageButton svg path {
  fill: var(--searchbar-icon-color);
}

#recordButton:hover svg path,
#fileButton:hover svg path,
#fileButton:hover svg line,
#notesButton:hover svg path {
  stroke: #fff;
}
#searchButton:hover svg path,
#imageButton:hover svg path {
  fill: #fff;
}

/* Voice Recording component */

button#stopButton {
  animation: none !important;
}
button#stopButton:hover {
  background-color: transparent;
}
button#stopButton svg {
  width: 25px;
  height: 25px;
}
button#stopButton svg circle {
  fill: red;
}
button#stopButton .recordIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  animation: ease pulse2 2s infinite;
}

@keyframes pulse2 {
  0% {
    background-color: rgba(255, 0, 0, 0);
  }
  50% {
    background-color: #eba3a3d0;
  }
  100% {
    background-color: rgba(255, 0, 0, 0);
  }
}

/* Notes section */
div#notesContainer {
  margin: 0 auto;
  width: 100%;
}
div#notesContainer label {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
  display: block;
}
textarea#notes {
  border-color: var(--searchbar-border-color);
  border-width: 1px;
  border-radius: 5px;

  color: #4b4b4b;
}

/* Response section */
.chatIOContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* max-height: calc(100vh - var(--header-height)); */
}
.chatWindow {
  /* min-height: 300px; */
  /* overflow-y: auto; */
  padding: 10px 0;
  border-radius: 10px;
  /* background-color: #333; */
  flex-grow: 1;

  position: relative;
}
div.resp {
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
div.responseDiv {
  border-color: #3c6c4c;
  border-radius: 5px;
}
.botChat {
  animation: right-to-left 0.1s 1 linear;
  margin-left: auto;
  overflow: hidden;
  width: 100%;
}
@keyframes right-to-left {
  from {
    width: 14%;
  }
  to {
    width: 100%;
  }
}
button.clearButton {
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  background: transparent !important;
  color: #e8e8e8 !important;
}
button.clearButton:hover {
  text-decoration: underline;
  background: transparent !important;
}
#copyButton {
  display: flex;
  padding: 5px;
  position: relative;
  border-radius: 5px;
}
#copyButton svg {
  width: 24px;
  height: 24px;
}
#copyButton svg path {
  fill: #fff;
}
#copyButton:active {
  cursor: grab;
}
#copyButton:active::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%,-100%);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.294);
  border-radius: 5px;
  content: "Copied";
  color: #fff;
  font-size: 16px;
}
#copyButton:hover {
  transform: scale(1.0);
  background-color: rgb(28, 43, 153);
}
#copyButton:hover svg path {
}
#autoPlayButton svg path {
  stroke: #676767;
}

.userChat {
  background-color: #3b3b3b !important;
  animation: right-to-left 0.1s 1 linear;
  margin-right: auto;
  overflow: hidden;
  width: 100%;
}
.responseDiv.userChat {
  border-color: var(--searchbar-border-color);
}
@keyframes left-to-right {
  from {
    width: 14%;
  }
  to {
    width: 100%;
  }
}
/* text audio*/
#textAudioContainer.textAudio {
  opacity: 0;
  height: 0px !important;
  padding: 0 !important;
  overflow: hidden !important;
  max-height: 0px !important;
  margin: 0 !important;
}
.textAudio {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  position: relative;
}
#soundWaveContainer {
  position: absolute;
  display: none;
}
.soundWave {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.soundBar {
  width: 3px;
  background: #ff3a00;
  height: 18px;
  border-radius: 999px;

  animation-name: wave1;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: ease 0.2s;
}
.soundBar:nth-child(2) {
  animation-name: wave2;
  animation-delay: 0.2s;
}
.soundBar:nth-child(3) {
  animation-name: wave3;
  animation-delay: 0.23s;
  animation-duration: 0.4s;
}
.soundBar:nth-child(4) {
  animation-name: wave4;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
}
.soundBar:nth-child(5) {
  animation-delay: 0.5s;
  animation-duration: 0.3s;
}
.soundBar:nth-child(6) {
  animation-name: wave2;
  animation-duration: 0.5s;
}
.soundBar:nth-child(8) {
  animation-name: wave4;
  animation-delay: 0.4s;
  animation-duration: 0.25s;
}
.soundBar:nth-child(9) {
  animation-name: wave3;
  animation-delay: 0.15s;
}
@keyframes wave1 {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@keyframes wave2 {
  from {
    transform: scaleY(0.3);
  }
  to {
    transform: scaleY(0.6);
  }
}
@keyframes wave3 {
  from {
    transform: scaleY(0.6);
  }
  to {
    transform: scaleY(0.8);
  }
}
@keyframes wave1 {
  from {
    transform: scaleY();
  }
  to {
    transform: scaleY(0.5);
  }
}

#showVoiceRecordingDiv {
  opacity: 0 !important;
  height: 0 !important;
}
/**
 * ==============================================
 * Loader
 * ==============================================
 */
 #chatLoader {
  margin-left: auto;
  margin-right: 16px;
  border: none !important;
  padding: 0 !important;
 }
 .dot-elastic {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--loader-color);
  color: var(--loader-color);
  animation: dot-elastic 1s infinite linear;
}
.dot-elastic::before, .dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--loader-color);
  color: var(--loader-color);
  animation: dot-elastic-before 1s infinite linear;
}
.dot-elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--loader-color);
  color: var(--loader-color);
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
/* Audio frequency player */
#responseAudio {
  display: block;
}
.audioFrequencyBar {
  margin-left: auto;
}
#canvas {
  background-color: transparent;
  background-color: #1f1f1f;
  width: 200px;
  height: 20px;
  /* position: relative; */
  /* float: right; */
}
#audioControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
#audioControls button {
  background-color: transparent;
  border: 0;
}
#audioControl.pause #pause,
#audioControl.resume #resume {
  display: block;
}
#audioControl.pause #resume,
#audioControl.resume #pause {
  display: none;
}
#audioVolume.unmuted #unmuted,
#audioVolume.muted #muted {
  display: block;
}
#audioVolume.muted #unmuted,
#audioVolume.unmuted #muted {
  display: none;
}
.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconWrapper svg{
  width: 18px;
  height: 18px;
}
#pause svg,
#resume svg {
  fill: #af0101;
}
#unmuted svg, 
#muted svg {
  fill: #fff;
}
/* Media queries*/
@media (max-width: 1200px) {
  .container {
   width: 100% !important;
   padding: 0 20px !important;
  }
}